body {
    margin: 0;
}

header {
    background-color: #4ea0ff;
    background-image: url('img/pattern.png');
    background-repeat: repeat-x;
    background-size: 20%;
    color: white;

}

h1 {
    text-align: center;
}

.image {
    margin-left: 10%;
}

.photo {
    margin-left: 10%;

}

p {
    margin-left: 10%;
}



#logo {
    width: 20%;
    height: 20%;
}

#booleaner {
    color: #4ea0ff;
}

.sottotitolo {
    margin-top: 0px;
    margin-bottom: 0px;
    color: grey;
    text-align: center;
}

#data {
    color: grey;
    font-size: 50%;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.photo {
    margin-top: 0px;
    margin-bottom: 0px;
}



.yellow {
    background-color: #ffff00;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 10%;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#ultima_colonna {
    width: 50%;
}

th {
    text-align: left;
}

tr {
    font-weight: 600;
}


#riga1 {
    background-color: #4ea0ff;
    color: white;
}

.riga2-4 {
    background-color: #b1e5f2;
}

#riga3 {
    background-color: white;
}

#container1 {
    width: 200px;
    height: 200px;
    background-image: url('img/monitor.jpg');
    color: white;
    margin-left: 48%;
}

#container2 {
    width: 200px;
    height: 200px;
    background-image: url('img/graph.jpg');
    color: white;
    margin-top: 20px;
    margin-left: 48%;
}